.formm .head h2::after {
  content: "";
  display: block;
  background-color: #25A8F0;
  width: 5%;
  height: 3px;
  margin-top: 20px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.416px; }

.contact {
  padding-top: 20px; }
  .contact .social i {
    margin-right: 2%; }
    @media (max-width: 780px) {
      .contact .social i {
        display: none; } }
  .contact .item {
    margin-right: 5%; }
    @media (max-width: 780px) {
      .contact .item i {
        display: none; } }

hr {
  box-shadow: 10px 1px 2px #888888; }

.header li {
  font-size: 15px; }

.header .activee {
  color: #25A8F0 !important; }
  .header .activee:hover, .header .activee:focus, .header .activee:active {
    color: #25A8F0; }

.header .navbar-brand img {
  width: 200px;
  margin-bottom: 2px; }

.header .tags {
  background-color: #25A8F0;
  margin-bottom: 80px;
  height: 80px;
  padding: 20px;
  color: #ffff; }
  .header .tags h2 {
    display: inline-block; }
  .header .tags h5 {
    display: inline-block;
    padding: 10px; }

.formm .head h2 {
  color: #25A8F0;
  margin-bottom: 20px; }

.formm form {
  margin-bottom: 100px; }

.touch {
  background-color: #25A8F0;
  padding: 50px;
  color: #ffff; }
  .touch .help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px; }
    @media (max-width: 720px) {
      .touch .help {
        grid-template-columns: 1fr; } }
  .touch .get button {
    color: #ffff;
    border: 1px solid #ffff; }

footer {
  background-color: #161616;
  padding: 50px;
  color: #ffff; }
  footer h3 {
    padding-bottom: 20px;
    color: #25A8F0; }
  footer ul {
    padding: 0px; }
  footer ul li {
    list-style: none;
    text-align: left;
    display: inline-block; }
  footer i {
    color: #25A8F0;
    margin-right: 10px; }

.copy {
  padding: 30px;
  background-color: #000000;
  color: #ffff; }
  .copy span {
    color: red; }
